<h1 class="page-header ng-scope">About</h1>

<div id="dropzone">
  <div>{{file ? '':'Drop Here'}}</div>
  <input type="file" ng-model="file" name="file" base-sixty-four-input required ng-change="onChange(file)" maxsize="500">
  <img ng-src="{{img}}"/>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th>filename</th>
    <th>filetype</th>
    <th>filesize (<i><small>KB</small></i>)</th>
    <th>base64</th>
  </tr>
  <tr ng-show="file">
    <td>{{file.filename}}</td>
    <td>{{file.filetype}}</td>
    <td>{{file.filesize / 1000}}</td>
    <td>{{file.base64.substring(0, 30)}}...</td>
  </tr>
  <tr>
    <td colspan="4" ng-show="!file">
      <small><i>No file selected.</i></small>
    </td>
  </tr>
</table>

<input ng-model="abc" only-decimals fraction="3"/>
{{abc}}