<h1 class="page-header ng-scope">Contact</h1>
<div st-safe-src="list.tAnggotaTim.data" st-table="rowCollection">
    <table-scrollbar class="scroller" infinite-scroll="infinite()" wheel-propagation="true" min-scrollbar-length="20">
        <!--<div class="scroller table-responsive" m-scrollbars on-scroll-end="infinite()">-->
        <table id="tableHead" class="table table-fixed-header">
            <thead>
                <tr>
                    <th class="col-md-1" st-sort="id_user">#</th>
                    <th class="col-md-2" st-sort="username">ID Assesor</th>
                    <th class="col-md-3" st-sort="username">ID Skema</th>
                    <th class="col-md-6" st-sort="username">Jabatan</th>
                </tr>
            </thead>
        </table>
        <table id="tableBody" class="table table-fixed-header">
            <tbody>
                <tr ng-repeat="row in rowCollection">
                    <td>{{$index+1}}</td>
                    <td>{{row.ID_ASESOR}}</td>
                    <td>{{row.ID_SKEMA}}</td>
                    <td>{{row.JABATAN}}</td>
                </tr>
            </tbody>
        </table>
        <md-progress-linear md-mode="indeterminate" style="position: relative; bottom: 5px;"></md-progress-linear>
        <!--</div>-->
    </table-scrollbar>
</div>