<h1 class="page-header ng-scope">Contact</h1>
<!--<ui-select-infinite ng-model="aaa" factory="LPK.getData" id-selected="NAMA_LAB_LEMBAGA" multiple="false" is-required="1==1" on-change="changeMe()"></ui-select-infinite>-->
<!--<br>-->
<!--<pre>{{aaa | json}}</pre>-->
<style>
  .scroller {
    white-space: pre-line;
    height: 200px;
    overflow-y: hidden;
    position: relative;
  }
</style>
<div st-safe-src="list.tAnggotaTim.data" st-table="rowCollection">
  <table class="table table-fixed-header">
    <thead>
      <tr>
        <th class="col-md-2" st-sort="id_user">#</th>
        <th class="col-md-4" st-sort="username">ID Assesor</th>
        <th class="col-md-4" st-sort="username">ID Skema</th>
        <th class="col-md-6" st-sort="username">Jabatan</th>
      </tr>
    </thead>
  </table>
  <div class="scroller table-responsive" m-scrollbars on-scroll-end="infinite()">
    <table class="table table-fixed-header">
      <tbody>
        <tr ng-repeat="row in rowCollection">
          <td class="col-md-2">{{$index+1}}</td>
          <td class="col-md-4">{{row.ID_ASESOR}}</td>
          <td class="col-md-4">{{row.ID_SKEMA}}</td>
          <td class="col-md-6">{{row.JABATAN}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--<ul ng-if="list.tAnggotaTim.data.length > 0" uib-pagination items-per-page="10" total-items="list.tAnggotaTim.totalRecord"
  ng-model="list.tAnggotaTim.page" ng-change="onChange.tAnggotaTimList()" max-size="5" boundary-link-numbers="true"></ul>-->