<h1 class="page-header">Dashboard</h1>
<h2 class="sub-header">Section title</h2>
<div class="table-responsive" st-safe-src="userList.data" st-table="rowCollection">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-3" st-sort="id_user">#</th>
        <th class="col-md-9" st-sort="username">Username</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rowCollection">
        <td>{{((userList.page-1)*10)+$index+1}}</td>
        <td>{{row.username}}</td>
      </tr>
    </tbody>
  </table>
</div>
<ul ng-if="userList.data.length > 0" uib-pagination items-per-page="10" total-items="userList.totalRecord" ng-model="userList.page" ng-change="userListPageChanged()" max-size="5" boundary-link-numbers="true"></ul>
