<h1 class="page-header ng-scope">Contact</h1>
<!--<ui-select-infinite ng-model="aaa" factory="LPK.getData" id-selected="NAMA_LAB_LEMBAGA" multiple="false" is-required="1==1" on-change="changeMe()"></ui-select-infinite>-->
<!--<br>-->
<!--<pre>{{aaa | json}}</pre>-->
<style>
  .scroller {
    white-space: pre-line;
    height: 200px;
    overflow-y: hidden;
    position: relative;
  }
</style>
<div perfect-scrollbar swipe-propagation="true" scroll-x-margin-offset="5" min-scrollbar-length="10" class="scroller table-responsive"
  st-safe-src="list.tAnggotaTim.data" st-table="rowCollection">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-2" st-sort="id_user">#</th>
        <th class="col-md-4" st-sort="username">ID Assesor</th>
        <th class="col-md-4" st-sort="username">ID Skema</th>
        <th class="col-md-6" st-sort="username">Jabatan</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rowCollection">
        <td>{{((list.tAnggotaTim.page-1)*10)+$index+1}}</td>
        <td>{{row.ID_ASESOR}}</td>
        <td>{{row.ID_SKEMA}}</td>
        <td>{{row.JABATAN}}</td>
      </tr>
    </tbody>
  </table>
</div>
<ul ng-if="list.tAnggotaTim.data.length > 0" uib-pagination items-per-page="10" total-items="list.tAnggotaTim.totalRecord"
  ng-model="list.tAnggotaTim.page" ng-change="onChange.tAnggotaTimList()" max-size="5" boundary-link-numbers="true"></ul>